body {
  padding: 2em;
  overflow-y: visible;
  background-color: rgba(100, 200, 255, 128);
  /* background-color: grey; */
}

.text-wrapper {
  display: grid;
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  padding: 0.2em;
  box-shadow: 0px 1px 2px 2px grey;
  z-index: 0;
}

p {
  padding: 2em;
  text-align: justify;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
